@use "~arccorp-vars/src/scss/main.scss";
  .internship-page {
    max-width: 100vw;
    width: 100%;
  }

  .atd-jumbo {
    box-shadow: inset 0 0 0 2000px rgb(42 43 44 / 90%);
  }

  .product-callout-copy {
    padding-bottom: 30px;
  }
  
  .inner-column {
      margin: 15px 20px;
  }

  .pay-copy {
      margin: auto 20px 15px;
  }

  .internship-details-title {
      color: main.$signalorange;
      font-family: main.$arc-font-bold;
      text-transform: uppercase;
      font-size: 25px;
  }

  .internship-details-copy {
      color: main.$fog;
      padding-right: 75px;
  }

  .intern-dates {
      font-size: 25px;
  }

  .copy-focus-pay {
      font-family: main.$arc-font-bold;
      font-size: 25px;
  }

  .copy-focus-text {
      font-family: main.$arc-font-bold;
      font-size: 20px;
  }

  .copy-uppercase {
      text-transform: uppercase;
      max-width: 155px;
  }

  .internship-benefits-title{
      color: main.$arc-teal;
      font-family: main.$arc-font-bold;
      font-size: 20px;
  }

  .internship-benefits-copy {
      font-family: main.$arc-font-semibold;
  }

  .available-internships {
      background-color: #D4D4D4;
  }
  .position-inner {
      border-bottom: 1px solid main.$tarmac;
      margin-bottom: 30px;
  }

  a.position-link {
      color: main.$black;
      text-decoration: underline;

      &:hover {
          color: inherit;
      }
  }

  .position-title {
      font-family: main.$arc-font-bold;

  }

//   .internships-container {
//     max-width: 1200px;
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin: auto;
//   }

